[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-tags"]
	path = bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
